<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>教练列表</title>  
    <link rel="stylesheet" href="__PUBLIC__/admin/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css">
    <script src="__PUBLIC__/admin/js/jquery.js"></script>
    <script src="__PUBLIC__/admin/js/pintuer.js"></script>  
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 教练列表</strong></div>
  <div class="padding border-bottom">  
 
  <a class="button border-green" href="{:U('Admin/Coach/add_article')}"><span class="icon-plus-square-o"></span> 添加教练</a>
   
  </div> 
  <div class="padding border-bottom" style="text-align:center"> 
  </div> 
  <table class="table table-hover text-center">
    <tr>
      <th>教练名字</th>     
      <th>教练照片</th>
	  <th>教练介绍</th>
	  <th>操作</th>
    </tr>
	<volist name="coach" id="vo">
    <tr>
	  <td style="width:10%">{$vo.name}</td>
      <td style="width:10%" ><img width="80" src="__PUBLIC__/uploads/{$vo.picture}"   ></td>
	  <td style="text-align:left;width:60%;height: 100px;overflow: hidden;">
      <div style="height: 150px;overflow: scroll;">
 			{$vo.description}
 	  </div>
      </td> 

      <td>
      <div class="button-group">
	  
      <a type="button" class="button border-main" href="{:U('Admin/Coach/save_pz_article',array('id'=>$vo['id']))}"><span class="icon-edit"></span>修改</a>
	  
      <a class="button border-red" href="{:U('Admin/Coach/del_pz_article',array('id'=>$vo['id']))}" onclick="return isdel();"    ><span class="icon-trash-o"></span> 删除</a>
      
      </div>
      </td>
    </tr> 
	</volist>
	<tr>
        <td colspan="8"><div class="pagelist">{$page}</div></td>
    </tr>
  </table>
</div>

<script>
    function isdel(){
	if (confirm('确定要删除吗')){
     return true;
     }else{
     return false;
     }
	
	}


	function isshow(obj,obj1){
		 $.post("{:U('Admin/Weixin/isshow')}",{status:obj,id:obj1},function(data){
			  if(data==1){
				alert ('状态修改成功');
				location.reload();
				}else if(data==0){
				alert ('状态修改失败');
				location.reload();
				}
		 })
		 
		 }

</script>
</body></html>