<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>基本配置</title>  
    <link rel="stylesheet" href="__PUBLIC__/admin/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css">
    <script src="__PUBLIC__/admin/js/jquery.js"></script>
    <script src="__PUBLIC__/admin/js/pintuer.js"></script>
<style>

.label label{style="width:20%;"}
</style>	
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 基本配置</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:U('Admin/Index/addwx_do')}">
     
	   <div class="form-group">
        <div class="label">
          <label>公众号名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="wxname"  />
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>开发者中心Token：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="token"  />
        </div>
      </div>
	  <div class="form-group">
        <div class="label">
          <label>开发者中心Appid：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="appid" />
        </div>
      </div>
     
	  <div class="form-group">
        <div class="label">
          <label>开发者中心Appsecret：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="appsecret" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>开发者中心EncodingAESKey：</label>
        </div>
        <div class="field">
           <input type="text" class="input" name="encodingaeskey"  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>微信支付商户号(MchId)：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="mchid"  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>商户支付密钥(Paymentkey)：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="paymentkey"  />
          <div class="tips"></div>
        </div>
      </div>
     
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body></html>